mkdocs/docs/examples
mkdocs/docs/refs/syntax/exfaust*
mkdocs/docs/refs/compiler/exfaust*
mkdocs/docs/guide/http/exfaust*
mkdocs/docs/guide/introduction/
mkdocs/docs/guide/midi/
mkdocs/docs/guide/osc/
mkdocs/docs/guide/quick-start/
mkdocs/docs/rsrc/
.DS_Store

mkdocs/docs/guide/http.md
mkdocs/docs/guide/introduction.md
mkdocs/docs/guide/midi.md
mkdocs/docs/guide/osc.md
mkdocs/docs/guide/quick-start.md
mkdocs/docs/refs/compiler.md
mkdocs/docs/refs/syntax.md
mkdocs/docs/refs/tools.md

.vscode
docs/rsrc