
.faust-tools {
    background-color: #F8F8F8;
    font-size: 90%
}
.faust-options {
    background-color: #F8F8F8;
    font-size: 90%;0
}

.try_it {
	border: 1px solid #666666;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.try_it:focus 	{ outline: none; }

h1,h2,h3 {
	margin-top: 40px;
	font-weight: 700;
}

h3 {
	font-size: 22px;
}

.btn {
	margin-bottom: 20px;
}

pre {
	background-color: #f8f8ff;
	margin-top: 4px;
	margin-bottom: 4px;
}

code {
	color: #775177;
}
