site_name: Faust Documentation
site_description: A guide to the Faust Programming Language.
copyright: Copyright &copy; 2020 <a href="https://www.grame.fr">Grame-CNCM</a>
nav:
    - Home: index.md  
    - Faust Manual: 
        - 'Introduction': manual/introduction.md
        - 'Overview of the Faust Universe': manual/overview.md
        - 'Quick start': manual/quick-start.md
        - 'Faust Syntax': manual/syntax.md
        - 'Using the Compiler': manual/compiler.md
        - 'Compiler Options': manual/options.md
        - 'Architecture Files': manual/architectures.md
        - 'OSC Support': manual/osc.md
        - 'HTTP Support': manual/http.md
        - 'MIDI Support': manual/midi.md
        - 'Soundfiles Support': manual/soundfiles.md
        - 'faust2[...] Tools': manual/tools.md
        - 'Embedding the Compiler': manual/embedding.md
        - 'Optimizing the Code': manual/optimizing.md
        - 'Mathematical Documentation': manual/mathdoc.md
        - 'Frequently Asked Questions': manual/faq.md
    - Examples: 
         - ' ambisonics ': examples/ambisonics.md
         - ' analysis ': examples/analysis.md
         - ' bela ': examples/bela.md
         - ' delayEcho ': examples/delayEcho.md
         - ' dynamic ': examples/dynamic.md
         - ' filtering ': examples/filtering.md
         - ' gameaudio ': examples/gameaudio.md
         - ' generator ': examples/generator.md
         - ' misc ': examples/misc.md
         - ' phasing ': examples/phasing.md
         - ' physicalModeling ': examples/physicalModeling.md
         - ' pitchShifting ': examples/pitchShifting.md
         - ' psychoacoustic ': examples/psychoacoustic.md
         - ' reverb ': examples/reverb.md
         - ' SAM ': examples/SAM.md
         - ' smartKeyboard ': examples/smartKeyboard.md
         - ' spat ': examples/spat.md
         - ' Download examples ': rsrc/examples.zip
    - Tutorials:
        - 'Faust & JUCE': workshops/2020-04-10-faust-juce.md
        - 'DSP on the Teensy With Faust': tutorials/teensy.md
        - 'DSP on the ESP-32 With Faust' : tutorials/esp32.md
        - 'Making a Sine Oscillator From Scratch' : tutorials/basic-osc.md
    - Workshops:
      - ' 2018-12-01 PAW ' : workshops/2018-12-01-paw.md
      - ' 2020-03-24 CITI ': workshops/2020-03-24-faust-citi.md
      - ' 2020-04-10 Faust 101 ': workshops/2020-04-10-faust-101.md
      - ' 2020-04-10 Faust & JUCE ': workshops/2020-04-10-faust-juce.md
      - ' 2020-11-21 Faust & VCV Rack ': workshops/2020-11-21-faust-vcvrack.md
    - About: about.md

theme: 
  name: mkdocs
  custom_dir: 'theme'
  navigation_depth: 4

site_dir: ../docs


extra:
    social:
        - type: github
          link: https://github.com/grame-cncm/faustdoc
        - type: home
          link: https://faust.grame.fr
        - type: envelope
          link: mailto:research@grame.fr

plugins:
    - search

extra_css:
   - '/css/quickref.css'
   - '/rail/railroad-diagrams.css'

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML

markdown_extensions:
    - mdx_math
    - admonition
    - markdown_include.include:
        base_path: './docs'
